.filter-row {
    width: 100%;
}

.filter-group {
    flex: 0 0 150px;
    margin: 0;
    padding: 0;
}

.filter-group .form-control,
.filter-group .dropdown-toggle {
    width: 100% !important;
    box-sizing: border-box;
}

.filter-group .btn {
    height: 100%;
    align-self: flex-end;
}

.filter-row {
    gap: 1.5rem !important;
}

.filter-label {
    display: block;
    text-align: center;
    width: 100%;
}