.product-table th,
.product-table td {
    padding: 8px;
    vertical-align: middle !important;
}

.col-checkbox {
    width: 40px;
}

.col-stt {
    width: 50px;
}

.col-image {
    width: 170px;
    text-align: center !important;
}

.col-price {
    width: 100px;
}

.col-position {
    width: 80px;
}

.col-status,
.col-creator,
.col-actions {
    width: 120px;
}

.book-thumbnail {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}