.btn-color {
    background-color: #bbbfc5;
    color: #fff;

}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.cardbody-color {
    background-color: #e7f0f9 !important;
}

a {
    text-decoration: none;
}